{% load nectarist_filters %}
<div id="container_category">
    <div class="container_space h-100">
        <nav class="navbar navbar-expand-lg h-100 px-1">
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav">
                    {% for category in category_list_main %}
                    {% if category == category_current %}
                    <li class="navbar-item category-current">
                        <a href="{{ categories|get_item:category|get_item:'url' }}">{{ categories|get_item:category|get_item:'name' }}</a>
                    </li>
                    {% else %}
                    <li class="navbar-item">
                        <a href="{{ categories|get_item:category|get_item:'url' }}">{{ categories|get_item:category|get_item:'name' }}</a>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </div>
            {% if is_login == 'Y' %}
            <div class="mx-auto"></div>
            <div class="collapse navbar-collapse text-right" style="justify-content: flex-end;">
                <ul class="navbar-nav">
                    {% if category_current != 'main' and category_current != 'sign_in' %}
                    <li class="navbar-item">
                        <a href="{{ categories.myinfo.url }}">마이페이지</a>
                    </li>
                    {% if login_data.nt_user_admin_yn == 'Y' %}
                    <li class="navbar-item">
                        <a href="{{ categories.admin_asetmain.url }}">관리자페이지</a>
                    </li>
                    {% endif %}
                    {% endif %}
                </ul>
            </div>
            {% endif %}
        </nav>
    </div>
</div>