{% load static %}
<!-- jQuery -->
<script src="https://code.jquery.com/jquery-latest.min.js" crossorigin="anonymous"></script>
<!-- 부트스트랩 -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
<!-- FontAwesome 아이콘 -->
<script src="https://kit.fontawesome.com/a5bdb78e74.js" crossorigin="anonymous"></script>
<!-- Sweet Alert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<!-- select2 -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<!-- ckeditor -->
<script src="https://cdn.ckeditor.com/4.22.1/standard/ckeditor.js"></script>
<!-- 사용자 정의 js -->
<script src="{% static 'js/nectarist.js' %}"></script>