{% load static %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- 부트스트랩 -->
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<!-- 구글 폰트 -->
<link href="https://fonts.googleapis.com" rel="preconnect">
<link href="https://fonts.gstatic.com" rel="preconnect">
<link href="https://fonts.googleapis.com/css2?family=Diphylleia&family=Noto+Sans+KR:wght@300;400;500;600;700&display=swap" rel="stylesheet">
<!-- select2 -->
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<!-- 사용자 정의 css -->
<link href="{% static 'css/nectarist.css' %}" rel="stylesheet">