{% extends 'templates/layout.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-12 col-lg-9">
        <div class="pl-3 pr-3 pr-lg-0 pt-4">
            <div id="main_carousel" class="carousel slide">
                <div class="carousel-indicators">
                    {% for carousel_item in carousel_list %}
                        {% if forloop.counter0 == 0 %}
                        <button type="button" data-bs-target="#main_carousel" data-bs-slide-to="0" class="active"></button>
                        {% else %}
                        <button type="button" data-bs-target="#main_carousel" data-bs-slide-to="{{ forloop.counter0 }}"></button>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="carousel-inner">
                    {% for carousel_item in carousel_list %}
                    <div class="carousel-item active">
                        {% if carousel_item.nt_board_type == '01' %}
                        <img src="/static/img/{{ carousel_item.nt_board_thumbnail }}" onclick="location.href = '/notice/detail/{{ carousel_item.nt_board_idx }}';" style="cursor: pointer;" class="d-block w-100">
                        {% else %}
                        <img src="/static/img/{{ carousel_item.nt_board_thumbnail }}" onclick="location.href = '/column/detail/{{ carousel_item.nt_board_idx }}';" style="cursor: pointer;" class="d-block w-100">
                        {% endif %}
                    </div>
                    {% endfor %}
                </div>
                <button class="carousel-button carousel-control-prev" type="button" data-bs-target="#main_carousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon"></span>
                </button>
                <button class="carousel-button carousel-control-next" type="button" data-bs-target="#main_carousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-3 d-none d-lg-block">
        <div class="pr-3 pl-3 pl-lg-0 pt-4 h-100">
            <div class="nectarist_userbox">
                <div class="p-3">
                    {% if is_login == 'Y' %}
                    <div style="color: #bbb6b6;">
                        <i class="fa fa-user"></i>
                        <span style="font-size: 1.4rem; font-weight: bold; color: white;">{{ login_data.nt_user_nickname }}</span>
                        님
                    </div>
                    <hr style="border: 1px dashed #bbb6b6;">
                    <button class="nectarist-login-option btn btn-block" onclick="location.href = '/mypage_myinfo/';">
                        <i class="fa fa-angle-right mr-2"></i>마이페이지
                    </button>
                    <button class="nectarist-login-option btn btn-block" onclick="location.href = '/mypage_myrefrig/';">
                        <i class="fa fa-angle-right mr-2"></i>내 냉장고
                    </button>
                    {% if login_data.nt_user_admin_yn == 'Y' %}
                    <button class="nectarist-login-option btn btn-block" onclick="location.href = '/admin_setmain/?page=1';">
                        <i class="fa fa-angle-right mr-2"></i>관리자 페이지
                    </button>
                    {% endif %}
                    <button class="nectarist-button-white-short btn btn-block" onclick="req_signout();">
                        로그아웃
                    </button>
                    {% else %}
                    <button class="nectarist-login-button btn btn-block" onclick="location.href = '/sign_in/';">
                        로그인
                    </button>
                    <hr style="border: 1px dashed #bbb6b6;">
                    <button class="nectarist-login-option btn btn-block" onclick="location.href = '/sign_up/';">
                        <i class="fa fa-angle-right mr-2"></i>회원가입
                    </button>
                    <button class="nectarist-login-option btn btn-block" data-bs-toggle="tooltip" data-bs-title="구현중" style="cursor: not-allowed;">
                        <i class="fa fa-angle-right mr-2"></i>아이디 찾기
                    </button>
                    <button class="nectarist-login-option btn btn-block" data-bs-toggle="tooltip" data-bs-title="구현중" style="cursor: not-allowed;">
                        <i class="fa fa-angle-right mr-2"></i>비밀번호 찾기
                    </button>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="pl-3 pr-3 pr-lg-0 pt-4">
            <div class="nectarist-subject">
                <div class="nectarist-subject-title">칼럼</div>
            </div>
            <div class="nectarist-miniboard" style="margin-top: -2px; min-height: 188px;">
                <ul>
                    {% for column in column_list %}
                    <li onclick="location.href = '/column/detail/{{ column.nt_board_idx }}';">{{ column.nt_board_subject }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6">
        <div class="pr-3 pl-3 pl-lg-0 pt-4">
            <div class="nectarist-subject">
                <div class="nectarist-subject-title">커뮤니티</div>
            </div>
            <div class="nectarist-miniboard" style="margin-top: -2px; min-height: 188px;">
                <ul>
                    {% for community in community_list %}
                    <li onclick="location.href = '/community/detail/{{ community.nt_board_idx }}';">{{ community.nt_board_subject }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
    <div class="col-12">
        <div class="px-3 pt-4 pb-4">
            <div class="nectarist-subject">
                <div class="nectarist-subject-title">칵테일정보</div>
            </div>
            <div>
                <div class="row">
                    {% for cocktail in cocktail_list %}
                    <div class="col-6 col-lg-3">
                        <div class="nectarist-gallery-item" onclick="location.href = '/cocktailinfo/detail/{{ cocktail.nt_cocktail_idx }}';">
                            <img src="{% static cocktail.nt_cocktail_thumbnail %}">
                            <div class="nectarist-gallery-title">{{ cocktail.nt_cocktail_nm }}</div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}