{% extends 'templates/layout.html' %}
{% load static %}
{% block content %}
<div class="px-3 pt-3 pb-4">
    <div class="menu-title pb-0">
        <span class="menu-name"><i class="fa fa-chevron-right" style="margin-bottom: 2px;"></i> 마이페이지</span>
        {% include 'templates/mypage_subcategory.html' %}
    </div>
    <div class="mt-3">
        <div class="row nectarist-form">
            <!-- 아이디-->
            <div class="col-12 col-lg-4">
                <div class="nectarist-form-title text-lg-right">아이디</div>
            </div>
            <div class="col-12 col-lg-4">{{ login_data.nt_user_id }}</div>
            <div class="col-12 col-lg-4"></div>
            <!-- 닉네임 -->
            <div class="col-12 col-lg-4 mt-3">
                <div class="nectarist-form-title text-lg-right">닉네임</div>
                <div class="nectarist-form-exp text-lg-right">2~10자</div>
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <input id="nectarist_form_signup_name" type="text" data-valid="N" class="nectarist-form-input" maxlength="10">
                <div id="nectarist_form_invalidname" class="nectarist_form_name_result d-none text-danger">2자~10자를 입력해주세요.</div>
                <div id="nectarist_form_dupname" class="nectarist_form_name_result d-none text-danger">중복된 닉네임입니다.</div>
                <div id="nectarist_form_okname" class="nectarist_form_name_result d-none text-success">사용 가능한 닉네임입니다.</div>
            </div>
            <div class="col-12 col-lg-4 mt-3">
                <button class="nectarist-form-button nectarist-button-white-short btn" onclick="req_duplicate_name();" data-bs-toggle="tooltip" data-bs-title="구현중" style="cursor: not-allowed;">중복검사</button>
            </div>
            <!-- 이메일 -->
            <div class="col-12 col-lg-4 mt-3">
                <div class="nectarist-form-title text-lg-right">이메일</div>
            </div>
            <div class="col-12 col-lg-4 mt-3">{{ login_data.nt_user_email }}</div>
            <div class="col-12 col-lg-4 mt-3"></div>
        </div>
    </div>
    <div class="mt-3 text-center">
        <button class="nectarist-button-dark-short btn" onclick="" data-bs-toggle="tooltip" data-bs-title="구현중" style="cursor: not-allowed;">저장</button>
    </div>
</div>
{% endblock %}